.arr-container {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.arr-bar {
    background-color: black;
}

.button-container {
    display: flex;
    justify-content: space-around;
}